.container {
    width: 80%;
    padding-top: 70%;
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(63, 69, 81, 0.16);
    will-change: transform;
    display: flex;
    justify-content: center;
  }
  
.resumeContainer{
    display: flex;
    justify-content: center;
}

.iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
border: none;
padding: 0;
margin: 0;
}